<div class="px-4 sm:px-8 md:px-32">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 py-24">
        <div class="flex flex-col justify-start space-y-6 text-lg font-normal">
            <p class="text-4xl md:text-5xl font-medium">Our Story</p>
            <p class="text-gray-700">
                Launched in 2015, Exclusive is South Asia’s premier online shopping marketplace with an active presence
                in Bangladesh.
                Supported by a wide range of tailored marketing, data, and service solutions, Exclusive has 10,500
                sellers and 300 brands,
                serving 3 million customers across the region.
            </p>
            <p class="text-gray-700">
                Exclusive offers more than 1 million products, growing at a very fast pace. The platform offers a
                diverse assortment
                in categories ranging from consumer goods to electronics and fashion.
            </p>
        </div>

        <div class="px-5">
            <img src="assets/image/about.png" alt="Our Story" class="w-full h-auto object-cover rounded-lg shadow-lg">
        </div>
    </div>
    <div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 mb-12 py-12">
            <div class="bg-white p-6 rounded-lg shadow-lg flex items-center justify-center">
                <div class="text-center">
                    <img src="assets/image/home_about.png" alt="Will Smith" class="h-18 w-18 object-cover">
                    <p class="text-2xl font-semibold text-gray-800">10.5k</p>
                    <p class="text-gray-600">Sellers active on our site</p>
                </div>
            </div>
            <div class="bg-red-500 p-6 rounded-lg shadow-lg flex items-center justify-center">
                <div class="text-center text-white">
                    <img src="assets/image/money.png" alt="Will Smith" class="h-18 w-18 object-cover">
                    <p class="text-2xl font-semibold">33k</p>
                    <p>Monthly Product Sale</p>
                </div>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg flex items-center justify-center">
                <div class="text-center">
                    <img src="assets/image/gift.png" alt="Will Smith" class="h-18 w-18 object-cover">
                    <p class="text-2xl font-semibold text-gray-800">45.5k</p>
                    <p class="text-gray-600">Customers active on our site</p>
                </div>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg flex items-center justify-center">
                <div class="text-center">
                    <img src="assets/image/sale.png" alt="Will Smith" class="h-18 w-18 object-cover">
                    <p class="text-2xl font-semibold text-gray-800">25k</p>
                    <p class="text-gray-700">Annual gross sale on our site</p>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <div class="bg-white rounded-lg shadow-lg overflow-hidden">
                <img src="assets/image/cv.jpeg" alt="Tom Cruise" class="w-full h-96 object-cover">
                <div class="p-6 text-center">
                    <p class="font-semibold text-xl text-gray-800">Tom Cruise</p>
                    <p class="text-gray-700">Founder & Chairman</p>
                    <div class="flex justify-center gap-4 mt-4">
                        <a href="#" class="text-gray-700 hover:text-blue-500"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="text-gray-700 hover:text-blue-500"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-lg overflow-hidden">
                <img src="assets/image/cv.jpeg" alt="Tom Cruise" class="w-full h-96 object-cover">
                <div class="p-6 text-center">
                    <p class="font-semibold text-xl text-gray-800">Emma Watson</p>
                    <p class="text-gray-700">Managing Director</p>
                    <div class="flex justify-center gap-4 mt-4">
                        <a href="#" class="text-gray-600 hover:text-blue-500"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="text-gray-600 hover:text-blue-500"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-lg overflow-hidden">
                <img src="assets/image/cv.jpeg" alt="Tom Cruise" class="w-full h-96 object-cover">
                <div class="p-6 text-center">
                    <p class="font-semibold text-xl text-gray-800">Will Smith</p>
                    <p class="text-gray-600">Product Designer</p>
                    <div class="flex justify-center gap-4 mt-4">
                        <a href="#" class="text-gray-600 hover:text-blue-500"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="text-gray-600 hover:text-blue-500"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features Section -->
    <div class="py-20 grid grid-cols-1 md:grid-cols-3 gap-6 text-center">

        <div>
            <img src="assets/image/products/Services.png" alt="Perfume">
            <h3 class="font-semibold text-lg">FREE AND FAST
                DELIVERY</h3>
            <p class="text-sm text-gray-500">Free delivery for all orders over $140</p>
        </div>
        <div>
            <img src="assets/image/products/Services1.png" alt="Perfume">
            <h3 class="font-semibold text-lg">24/7 CUSTOMER SERVICE</h3>
            <p class="text-sm text-gray-500">Friendly 24/7 customer support</p>
        </div>
        <div>
            <img src="assets/image/products/Services3.png" alt="Perfume">
            <h3 class="font-semibold text-lg">MONEY BACK GUARENTEE</h3>
            <p class="text-sm text-gray-500">We reurn money within 30 days</p>
        </div>
    </div>
</div>