<footer class="bg-black text-white py-10 px-14">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-5 gap-8 px-6 md:px-16">
    <!-- Exclusive Section -->
    <div>
      <h3 class="text-xl font-semibold mb-4">Exclusive</h3>
      <p class="mb-4">Subscribe</p>
      <p class="text-sm mb-4">Get 10% off your first order</p>
      <form class="flex justify-end">
        <input type="email" placeholder="Enter your email"
          class="bg-gray-950 text-gray-50 p-2 border border-white rounded-l-md w-full focus:outline-none" />
        <button type="submit" class="p-2 rounded-r-md border border-white bg-black flex items-center justify-center">
          <i class="pi pi-send text-white"></i>
        </button>
      </form>

    </div>

    <!-- Support Section -->
    <div>
      <h3 class="text-xl font-semibold mb-4">Support</h3>
      <p class="text-sm">81 Tran Dai Nghia, Bach Khoa, Hai Ba Trung, Ha Noi</p>
      <p class="text-sm">trongdinh07&#64;gmail.com</p>
      <p class="text-sm">+8437 317 2624</p>
    </div>

    <!-- Account Section -->
    <div>
      <h3 class="text-xl font-semibold mb-4">Account</h3>
      <ul class="space-y-2 p-0">
        <li class="list-none"><a href="#" class="text-sm decoration-transparent text-white  hover:text-gray-600">My
            Account</a></li>
        <li class="list-none "><a href="auth/register"
            class="text-sm decoration-transparent text-white  hover:text-gray-600">Login / Register</a></li>
        <li class="list-none "><a href="#"
            class="text-sm decoration-transparent text-white  hover:text-gray-600">Cart</a></li>
        <li class="list-none "><a href="#"
            class="text-sm decoration-transparent text-white  hover:text-gray-600">Wishlist</a></li>
        <li class="list-none "><a href="#"
            class="text-sm decoration-transparent text-white  hover:text-gray-600">Shop</a></li>
      </ul>
    </div>

    <!-- Quick Links Section -->
    <div>
      <h3 class="text-xl font-semibold mb-4">Quick Link</h3>
      <ul class="space-y-2 p-0">
        <li class="list-none "><a href="#"
            class="text-sm decoration-transparent text-white  hover:text-gray-600">Privacy Policy</a></li>
        <li class="list-none "><a href="#" class="text-sm decoration-transparent text-white  hover:text-gray-600">Terms
            Of Use</a></li>
        <li class="list-none "><a href="#"
            class="text-sm decoration-transparent text-white  hover:text-gray-600">FAQ</a></li>
        <li class="list-none "><a href="#"
            class="text-sm decoration-transparent text-white  hover:text-gray-600">Contact</a></li>
      </ul>
    </div>

    <!-- Download App Section -->
    <div>
      <h3 class="text-xl font-semibold mb-4">Download App</h3>
      <p class="text-sm mb-4">Save $3 with App New User Only</p>
      <div class="grid grid-cols-1 gap-4 items-center lg:grid-cols-2 mb-4">
        <img src="/assets/Qrcode.png" alt="QR Code" class="w-20 mx-auto sm:mx-0 border border-white" />
        <div class="space-y-2 text-center sm:text-left">
          <img src="/assets/googlePlay.png" alt="Google Play" class="w-28  mx-auto sm:mx-0 border border-white" />
          <img src="/assets/appStore.png" alt="App Store" class=" w-28  mx-auto sm:mx-0 border border-white" />
        </div>

      </div>
      <div class="flex justify-center sm:justify-center space-x-4">
        <a href="#" class="text-white hover:text-gray-400"><i class="pi pi-facebook text-xl"></i></a>
        <a href="#" class="text-white hover:text-gray-400"><i class="pi pi-twitter text-xl"></i></a>
        <a href="#" class="text-white hover:text-gray-400"><i class="pi pi-instagram text-xl"></i></a>
        <a href="#" class="text-white hover:text-gray-400"><i class="pi pi-linkedin text-xl"></i></a>
      </div>
    </div>
  </div>

  <div class="mt-10 border-t border-gray-700 pt-4 text-center text-gray-500 text-sm">
    © Copyright Trongas 2024. All right reserved
  </div>
</footer>