<div class="wishlist-container">
  <h2 class="text-xl font-bold mb-4">Your Wishlist</h2>

  <div *ngIf="wishlist.length; else emptyWishlist">
    <ul>
      <li *ngFor="let product of wishlist" class="wishlist-item">
        <img [src]="product.image" alt="{{ product.name }}" class="product-image" />
        <div class="product-info">
          <h3 class="product-name">{{ product.name }}</h3>
          <span class="product-price">{{ product.salePrice  }}</span>
          <button (click)="removeFromWishlist(product)" class="remove-button">Remove</button>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #emptyWishlist>
    <p class="empty-message">Your wishlist is empty.</p>
  </ng-template>
</div>
