<div class="bg-black text-white text-sm">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-5 text-sm gap-2 px-4 md:px-0 items-center">
        <!-- Empty space for larger screens -->
        <div class="hidden md:block col-span-1"></div>

        <!-- Sale Announcement -->
        <div class="col-span-1 md:col-span-3 flex justify-center items-center text-center sm:text-sm">
            Summer Sale For All Swim Suits And Free Express Delivery – OFF 50%!
            <a href="#" class="font-bold underline text-white ml-2 whitespace-normal"
                aria-label="Shop now for summer sale">
                Shop Now
            </a>
        </div>

        <!-- Language Selector -->
        <div [ngClass]="{'hidden': isSmallScreen, 'block': !isSmallScreen}" class="relative col-span-1 text-end">
            <!-- Button -->
            <button (click)="toggleDropdown()"
                class="inline-flex justify-center py-2 text-sm font-medium text-white bg-black hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                [attr.aria-expanded]="isDropdownOpen" aria-haspopup="true">
                {{ selectedLanguage }}
                <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M5.23 7.21a.75.75 0 011.06.02L10 10.94l3.71-3.71a.75.75 0 111.06 1.06l-4 4a.75.75 0 01-1.06 0l-4-4a.75.75 0 01.02-1.06z"
                        clip-rule="evenodd" />
                </svg>
            </button>

            <!-- Dropdown -->
            <div *ngIf="isDropdownOpen"
                class="absolute right-0 z-10 mt-2 w-40 bg-white shadow-md ring-1 ring-black ring-opacity-5 focus:outline-none"
                role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <div class="py-1" role="none">
                    <!-- Dropdown Items -->
                    <button *ngFor="let lang of languages" (click)="selectLanguage(lang)"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 w-full text-left"
                        role="menuitem" tabindex="-1" id="menu-item-0">
                        {{ lang }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<nav class="bg-white px-4 py-4 shadow-sm">
    <div class="grid grid-cols-3 md:grid-cols-3 items-center">
        <!-- Brand Logo -->
        <div class="col-span-1">
            <div class="text-xl font-bold">Exclusive</div>
        </div>

        <!-- Hamburger Menu Button (Visible on small screens) -->
        <div class="md:hidden col-span-2 text-end">
            <button (click)="isMenuOpen = !isMenuOpen"
                class="text-gray-800 focus:outline-none focus:ring focus:ring-gray-300 bg-white border-none"
                aria-label="Toggle menu">
                <i class="pi pi-bars text-xl"></i>
            </button>
        </div>

        <!-- Navigation Links -->
        <div [ngClass]="{'hidden': !isMenuOpen, 'block': isMenuOpen}"
            class="col-span-3 md:col-span-1  md:flex md:justify-center md:space-x-16 text-center w-full md:w-auto">
            <a href="/home" routerLink="/home" routerLinkActive="active"
                class="block text-gray-800 hover:underline hover:decoration-black md:inline decoration-transparent pt-4 ">Home</a>
            <a href="#"
                class="block text-gray-800 hover:underline hover:decoration-black md:inline decoration-transparent pt-4 ">Contact</a>
            <a href="#"
                class="block text-gray-800 hover:underline hover:decoration-black md:inline decoration-transparent pt-4 ">About</a>
            <a routerLink="/auth/register" href="auth/register"
                class="block text-gray-800 hover:underline hover:decoration-black md:inline decoration-transparent pt-4 ">Sign
                Up</a>

        </div>

        <!-- Search and Icons -->
        <div class="flex items-center justify-end space-x-4 col-span-3 md:col-span-1 mt-4 md:mt-0">
            <div class="relative flex-grow max-w-xs">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <span class="text-gray-500"><i class="pi pi-search text-xl"></i></span>
                </div>
                <input type="text" placeholder="What are you looking for?"
                    class="w-full rounded-md border-0 py-1.5 pl-10 pr-10 text-gray-900 ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-600" />
            </div>

            <button class="bg-white border-none">
                <i class="pi pi-heart text-xl"></i>
            </button>
            <button class="bg-white border-none">
                <i class="pi pi-shopping-cart text-xl"></i>
            </button>
            <div class="relative inline-block text-left">
                <button (click)="toggleDropdownAccount()" class="bg-white border-none p-2" id="menu-button"
                    [attr.aria-expanded]="isDropdownVisibleAccount" aria-haspopup="true">
                    <i class="pi pi-user text-xl"></i>
                </button>

                <!-- Dropdown menu -->
                <div *ngIf="isDropdownVisibleAccount"
                    class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none"
                    role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <div class="py-1" role="none">
                        <!-- Menu items -->
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                            role="menuitem" id="menu-item-0">
                            Account settings
                        </a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                            role="menuitem" id="menu-item-1">
                            Support
                        </a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                            role="menuitem" id="menu-item-2">
                            License
                        </a>
                        <button type="submit" (click)="logout()"
                            class="block w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                            role="menuitem" id="menu-item-3">
                            Sign out
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>