<div class="flex flex-wrap md:flex-nowrap gap-6 p-6 sm:px-10 lg:px-14 py-12">
    <!-- Left Section -->
    <div class="w-full md:w-1/3 bg-white shadow-md rounded-lg p-6">
        <div class="mb-6">
            <div class="flex justify-start space-x-3 items-center">
                <img src="/assets/image/icons-phone.png" alt="" class="w-8 h-8">
                <span class="text-sm font-bold text-gray-800">Call to Us</span>
            </div>
            <p class="text-sm text-gray-600 mt-2">We are available 24/7, 7 days a week.</p>
            <p class="text-sm text-gray-800 mt-1 font-medium">Phone: +84373172624</p>
        </div>
        <div>
            <div class="flex justify-start space-x-3 items-center">
                <img src="/assets/image/icons-mail.png" alt="" class="w-8 h-8">
                <span class="text-sm font-bold text-gray-800">Write to Us</span>
            </div>
            <p class="text-sm text-gray-600 mt-2">
                Fill out our form and we will contact you within 24 hours.
            </p>
            <p class="text-sm text-gray-800 mt-1 font-medium">Email: trongdinh07&#64;gmail.com</p>
            <p class="text-sm text-gray-800 mt-1 font-medium">Email: support247&#64;gmail.com</p>
        </div>
    </div>

    <!-- Right Section -->
    <div class="w-full md:w-2/3 bg-white shadow-md rounded-sm p-6">
        <form class="grid xs:grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
            <!-- Form Fields -->
            <input type="text" placeholder="Your Name *"
                class="p-inputtext p-component w-full border col-span-1 rounded-md border-gray-300 focus:ring focus:ring-red-200" />
            <input type="email" placeholder="Your Email *"
                class="p-inputtext p-component w-full border rounded-md border-gray-300 focus:ring focus:ring-red-200" />
            <input type="tel" placeholder="Your Phone *"
                class="p-inputtext p-component w-full border rounded-md border-gray-300 focus:ring focus:ring-red-200" />
            <textarea rows="8" placeholder="Your Message"
                class="p-inputtext p-component w-full col-span-3 border rounded-md border-gray-300 focus:ring focus:ring-red-200"></textarea>
            
            <!-- Button -->
            <button type="submit"
                class="py-3 px-6 md:px-20 rounded-md bg-red-500 text-white border-none hover:bg-red-600 transition col-span-3 sm:w-full md:w-auto place-self-end">
                Send Message
            </button>
        </form>
    </div>
</div>
