@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import 'node_modules/ngx-toastr/toastr.css';


@tailwind base;
@tailwind components;
@tailwind utilities;


.carousel-item img {
  @apply object-cover rounded-lg shadow-md;
}

p-sidebar {
  @apply bg-white shadow-lg rounded-md p-4;
}

p-sidebar ul li {
  @apply text-gray-800 hover:text-blue-600 transition-colors;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
span,
strong,
a {
  font-family: "Rubik", sans-serif;
}

.toast-success {
  background-color: rgb(240 253 244);
  border: 1px solid #65b741;
}

.toast-success .toast-title {
  font-size: large;
  color: #1A5D1A;
}

.toast-success .toast-message {
  color: #1A5D1A;
}

.toast-error {
  background-color: rgb(254 226 226);
  border: 1px solid #D80032;
}

.toast-error .toast-title {
  font-size: larger;
  color: #dc2626;
}

.toast-error .toast-message {
  color: #dc2626;
}

.toast-success .toast-progress {
  background-color: green;
  ;
}

.toast-error .toast-progress {
  background-color: red;
  ;
}

.toast-error .toast-close-button {
  font-size: large;
  color: red;
  text-shadow: 0 1px 0 red;
}

.toast-success .toast-close-button {
  font-size: large;
  color: green;
  text-shadow: 0 1px 0 green;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Example Styling */
img {
  transition: transform 0.2s ease-in-out;
}

img:hover {
  transform: scale(1.05);
}

.p-breadcrumb {
  font-size: 12px;
  padding: 0.75rem;
  padding-left: 3.8rem;
}

.p-breadcrumb .p-menuitem-link {
  color: #1d4ed8; /* Tailwind blue-600 */
}

.p-breadcrumb .p-menuitem-link:hover {
  color: #1e40af; /* Tailwind blue-700 */
}
